svg.stationsNavIcon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 60 60')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='3.125' d='M6.244 4.688h8.768c.862 0 1.556.694 1.556 1.556v8.767c0 .863-.694 1.557-1.556 1.557H6.244a1.553 1.553 0 01-1.557-1.557V6.244c0-.862.694-1.556 1.557-1.556z')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='3.125' fill-rule='evenodd' d='M6.244 24.06h8.768c.862 0 1.556.694 1.556 1.556v8.767c0 .863-.694 1.557-1.556 1.557H6.244a1.553 1.553 0 01-1.557-1.557v-8.767c0-.862.694-1.556 1.557-1.556z')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='3.125' fill-rule='evenodd' d='M6.244 43.433h8.768c.862 0 1.556.694 1.556 1.556v8.767c0 .863-.694 1.557-1.556 1.557H6.244a1.553 1.553 0 01-1.557-1.557v-8.767c0-.862.694-1.556 1.557-1.556z')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='5.46' d='M20.754 19.557h30.373' transform='matrix(.83857 0 0 1 9.466 -8.93)')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='5.46' d='M20.754 19.557h24.911' transform='matrix(.83857 0 0 1 9.466 10.443)')
    path.stationsNavIcon__path(stroke-linecap='round' stroke-linejoin='round' stroke-width='5.46'  d='M20.754 19.557h32.801' transform='matrix(.83857 0 0 1 9.466 29.816)')


